.login {
    width:30%;
    margin: 30px auto;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
  }
  
  .login-header,
  .login p {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .login-header {
    background: rgb(12, 77, 129);
    padding: 20px;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
  }
  
  .login-container {
    background: #ebebeb;
    padding: 12px;
  }
  
  .login p {
    padding: 12px;
  }
  
  .login input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
  }
  
  .login input[type="email"],
  .login input[type="password"] {
    background: #fff;
    border-color: #bbb;
    color: #555;
  }
  
  .login input[type="email"]:focus,
  .login input[type="password"]:focus {
    border-color: #888;
  }
  
  .login input[type="submit"] {
    background: rgb(1, 29, 51);
    border-color: transparent;
    color: #fff;
    font-family: 'Poppins', sans-serif;
  }
  
  .login input[type="submit"]:hover {
    background: #17c;
  }
  
  .login input[type="submit"]:focus {
    border-color: #05a;
  }
  @media only screen and (max-width:772px) {
    .login {
        width:90%;
      }
      .login-header {
        font-size: 16px;
      }    
  }